{% extends 'base.html' %}

{% block title_head %}
<title>Datos</title> 
<link rel="stylesheet" href="#">
{% endblock title_head %}

{% block Imagen %}
{% if request.user.infoextra.avatar %}
<center><img src={{request.user.infoextra.avatar.url}} alt="" height='200px'></center>
{% endif %}
{% block h1_header %}

<p>
<center>
{% if request.user.username %}
<h1>Usuario:{{request.user}}</h1>
<h1>Nombre : {{request.user.first_name}}</h1>
<h1>Apellido : {{request.user.last_name}}</h1>

{%else%}
<p><center><h1>No hay usuario Logueado</h1></center></p>
{% endif %}


</center>
{% endblock h1_header %}
{% endblock Imagen %}


{% block Color %}
<nav class="navbar navbar-default" style="background-color: #FF6600;color:#fff" role="navigation">    
{% endblock Color %} 

{% block  contenido%}
<center>Hola!Este es mi proyecto</center>
<center>en el mismo se puede Crear,Eliminar,Modificar</center>
<center>este proyecto lo realice de forma individual </center>
<center>realmente me resulto muy entretenido</center>
<center>Realmente el curso me resulto muy entretenido y me gusto</center>
<center><button><a  class="navbar-brand" href={% url 'inicio:inicio' %}>Regresar al inicio</a></button></center>
<p></p>

{% endblock contenido %} 


