{% extends 'base.html' %}


{% block title_head %}
<title>Alta_CBV</title> 
<link rel="stylesheet" href="#">
{% endblock title_head %}

{% block Color %}
<nav class="navbar navbar-default" style="background-color: #b411fb;color:#fff" role="navigation">    
{% endblock Color %} 

{% block h1_header %}
  Modulo-Alta de Cliente_CBV
{% endblock h1_header %}

{% block  contenido%}
<form action={% url 'inicio:Alta' %} method ="POST" enctype = multipart/form-data>
  {% csrf_token %}
  <table>
    {{form}}
    {{form.media}}
  </table>  
 <button>Dar de alta</button>
</form> 

 {% endblock contenido %} 

