{% extends 'base.html' %}

{% block title_head %}
<title>Busqueda</title> 
<link rel="stylesheet" href="#">
{% endblock title_head %}

{% block Color %}
<nav class="navbar navbar-default" style="background-color: #0000FF;color:#fff" role="navigation">    
{% endblock Color %} 

{% block Imagen %}
{% block h1_header %}
<p><center>
<h2>Busqueda de Cliente</h2>
</p></center>
{% endblock h1_header %}
{% endblock Imagen %}


{% block  contenido%}




{% if  personas %}
<p>Se cargo la siguiente informacion</p>
{% for persona in personas %}

<li>
  {{persona}}
  <table>

  <button> <a  class="navbar-brand" href={% url 'inicio:DatosPersona' persona.id %}> Ver Datos </a> </button>
  <button> <a  class="navbar-brand" href={% url 'inicio:ModificarPersona' persona.id %}> Modificar </a></button>
  <button> <a  class="navbar-brand" href={% url 'inicio:EliminarPersona' persona.id %}> Eliminar </a></button>
</table>
</li>



{% endfor %}
{% else %}
<p>No se encontraron datos.</p>
{% endif %}
{% endblock contenido %}
        <!-- Footer-->
       
