{% extends 'base.html' %}

{% block title_head %}
<title>Modificar Persona</title> 
<link rel="stylesheet" href="#">
{% endblock title_head %}

{% block h1_header %}
  Modificar Persona
<p>{{persona.nombre_Persona }}</p>
{% endblock h1_header %}

{% block  contenido%}
<form action={% url 'inicio:ModificarPersona' persona.id %} method ="POST"  enctype = multipart/form-data>
  {% csrf_token %}
  <table>
 {{form}}
 {{form.media}}
  </table>  
  
 <button>Modificar</button>
</form>

{% endblock contenido %}

