{% extends 'base.html' %}

{% block title_head %}
<title>Registrarse</title> 
<link rel="stylesheet" href="#">
{% endblock title_head %}

{% block Color %}
<nav class="navbar navbar-default" style="background-color: #008000;color:#fff" role="navigation">    
{% endblock Color %} 

{% block h1_header %}
  Modulo-Registro
{% endblock h1_header %}

{% block  contenido%}
<form action={% url 'usuario:registrarse'%} method ="POST">
    {% csrf_token %}
  <table>
    {{formulario}}
  </table>  
 <button>Crear Cuenta</button>
</form> 

 {% endblock contenido %} 
